@{
    ViewData["Welcome"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Expense Tracker</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Expense Tracker</a>.</p>
</div>
