@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>

@{

     ViewData["Title"] = "Application Roles";


}

<h1>View Roles</h1>
<p>
    <a asp-action="Create">Create Role</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th class="text-white">@Html.DisplayNameFor(Model=>Model.Id)</th>
       
       
            <th class="text-white">@Html.DisplayNameFor(Model=>Model.Name)</th>
        
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model){
            <tr>
                <td class="text-white">@Html.DisplayFor(modelItem=>item.Id)</td>
                <td class="text-white">@Html.DisplayFor(modelItem=>item.Name)</td>
            </tr>
        }
    </tbody>
</table>
